<nav class="navbar bg-info">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img
        src="https://i.ebayimg.com/images/g/7acAAOSwr1ZkKh2V/s-l1600.webp"
        width="50"
        height="50"
        class="d-inline-block align-text-top"
      />
      Cadastro
    </a>
  </div>
</nav>

<div class="container">

  <form>
    <div class="form-group">
      <label for="nome">Nome:</label>
      <input type="text" class="form-control" id="nome" name="nome" />
    </div>

    <div class="form-group">
      <label for="end">Endereço:</label>
      <input type="text" class="form-control" id="end" name="end" />
    </div>

    <div class="form-group">
      <label for="bairro">Bairro:</label>
      <input type="text" class="form-control" id="bairro" name="bairro" />
    </div>

    <div class="form-group">
      <label for="cep">CEP:</label>
      <input type="text" class="form-control" id="cep" name="cep" />
    </div>

    <div class="form-group">
      <label for="cep">Cidade:</label>
      <input type="text" class="form-control" id="cidade" name="cidade" />
    </div>

    <div class="form-group">
      <label for="estado">Estado:</label>
      <input type="text" class="form-control" id="estado" name="estado" />
    </div>

    <div class="form-group">
      <label for="obs">Observação:</label>
      <input type="text" class="form-control" id="obs" name="obs" />
    </div> 
    <br>

    <button type="submit" class="btn btn-primary">Enviar</button>
    <button type="reset" class="btn btn-danger">Excluir</button>  
  </form>
</div>
    